/* Hero Section */
.hero {
    padding: 120px 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: relative;
    background-image: linear-gradient(#020136f1, #020136f1), url(/images/disable-group.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 58%;
    position: relative;
    z-index: 2;
}
.hero-content .rating{
    margin-bottom: 8px;
}
.hero-content .rating img {
    height: 16px;
    font-weight: bold;
    filter: drop-shadow(0 0 5px gold) drop-shadow(0 0 31px gold) drop-shadow(0 0 186px goldenrod) drop-shadow(0 0 137px #facc15);
}
.hero-content .rating span{
    text-transform: uppercase;
    color: #c0c0c0;
    margin-left:4px;
    font-size: 14px;
}
.hero-img {
    width: 30%;
    margin-right: 70px;
    position: relative;
    z-index: 2;
}

.hero-img img {
    width: 390px;
    height: 360px;
}
.achievement-box {
    position: absolute;
    background: #020136de;
    padding: 8px 22px;
    color: white;
    width: fit-content;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 0px 11px 2px #0019cf;
}

.achievement-box h3 {
    color: #00b4d8;
    font-size: 30px;
}

.achievement-box p {
    font-size: 12px;
    font-weight: bold;
}

.achievement-box1 {
    left: -60px;
    top: 30%;
}

.achievement-box3 {
    right: -110px;
    top: 50px;
}
.achievement-box2 {
    right: 150px;
    bottom: -25px;
}
.hero-wrapper h1 {
    font-size: 68px;
    color: #fff;
}

.hero-wrapper h1 span {
    font-family: 'Abril Fatface', serif;
    display: block;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 82px;
    background: linear-gradient(to right, #00d8d8, #37eb13,#37eb13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* For Firefox */
    background-clip: text;
    color: transparent;
}

.hero-wrapper .hero-content-text {
    font-size: 20px;
    line-height: 30px;
    margin: 32px 0 26px;
}



/* About Section */
.about {
    padding-top: 120px;
}

.about-wrapper {
    display: flex;
    gap: 46px;
}

.about-wrapper .about-content,
.about-wrapper .about-img {
    width: 48%;
}

.about-img img {
    width: 100%;
    object-fit: cover;
}

.about-content h3 {
    font-size: 22px;
    margin-bottom: 16px;
    color: var(--primary-color);
}

.about-content p {
    line-height: 24px;
    color: #000;
    margin-bottom: 8px;
}

.about-content ul {
    color: #000;
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 12px;
}

.about-content ul li {
    width: 48%;
    list-style: none;
    position: relative;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: start;
    gap: 6px;
}
.about-content ul li img{
    height: 18px;
    position: relative;
    top: 1px;
}


/* Services Section */
.service-section {
    padding: 120px 0;
}

.service-section-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.service-section-wrapper .service-section-box {
    width: 35%;
    position: relative;
}
.service-section-box {
    transition: 0.2s ease;
}

.service-section-box h3 {
    margin-bottom: 12px;
}

.service-section-box p {
    line-height: 22px;
    margin-bottom: 12px;
    text-align: center;
}

.service-section-box div {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 60px 25px;
    align-items: center;
    position: relative;
    z-index: 2;
    color: #fff;
}
.service-section-box::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:#000000b2 ;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
}
.service-img1 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -999;
    transition: 0.2s ease;
}


@media (max-width:768px) {
    /* Hero Section 768*/
    .hero {
        height: fit-content;
        padding: 60px 0;
    }

    .hero-wrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .hero-img {
        width: 50%;
        margin-bottom: 50px;
        margin-right: 0;
    }
    .hero-img img {
        width: 300px;
        height: 280px;
    }
    .hero-content {
        width: 100%;
    }
    .hero-wrapper h1 {
        font-size: 2.5rem;
        margin-bottom: 16px;
    }
    .hero-wrapper h1 span{
        font-size: 54px;
        display: inline;
    }    
    .achievement-box3 {
        right: -70px;
        top: 50px;
    }
    .hero-wrapper .hero-content-text {
        margin-bottom: 24px;
    }


    /* Abouts Us Section */
    .about {
        padding-top: 90px;
    }
    .about-wrapper {
        flex-wrap: wrap;
        padding: 0 40px 60px;
    }
    .about-wrapper .about-content,
    .about-wrapper .about-img {
        width: 100%;
    }

    .about-img img {
        object-fit: contain;
        height: 350px;
    }


    /* Our Service Section */
    .service-section {
        padding: 90px 0;
    }
    .service-section-wrapper .service-section-box {
        width: 49%;
    }
    .service-section-box div {
        margin: 40px 15px;
    }
   
}

@media (max-width:480px) {
    /* Hero Section 480*/
    .hero {
        height: fit-content;
        padding: 60px 0;
    }

    .hero-wrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hero-img {
        width: 80%;
        margin-bottom: 50px;
    }

    .achievement-box1 {
        left: -32px;
    }

    .achievement-box3 {
        right: -27px;
    }

    .achievement-box h3 {
        font-size: 24px;
    }

    .hero-wrapper h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .hero-wrapper h1 span {
        font-size: 47px;
        display: block;
    }

    .hero-wrapper .hero-content-text {
        margin-top: 16px;
        margin-bottom: 18px;
    }

    .hero-wrapper .hero-content-text {
        font-size: 15px;
        line-height: 22px;
    }


    /* Abouts Us Section */
    .about {
        padding-top: 60px;
    }

    .about-wrapper {
        padding: 30px 15px;
    }


    /* Our Service Section */
    .service-section {
        padding: 60px 0;
    }
    .service-section-wrapper{
        flex-wrap: wrap;
    }
    .service-section-wrapper .service-section-box {
        width: 100%;
    }
    .service-section-box div {
        margin: 25px 8px;
    }
    
}